* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: rubik;
    src: url(./Fonts/Rubik-Regular.ttf);
}

@font-face {
    font-family: playfair;
    src: url(./Fonts/PlayfairDisplay-Regular.ttf);
}



/* PreLoader */


#preload {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 20;
    background-color: #F3F5F7;
}

.preloadgif {
    width: 600px;
    height: 400px;
}

.progressBarBox {
    width: 500px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progressBarBackground {
    width: 100%;
    height: 26px;
    background-color: #bfc2c5;
    border-radius: 20px;
    overflow: hidden;
}

.progressBar {
    background-color: #FF7757;
    width: 0%;
    height: 26px;
    border-radius: 20px;
    -webkit-animation: progressbar 2.2s linear infinite;
    animation: progressbar 2.2s linear infinite;

}


@keyframes progressbar {
    0% {
        width: 0%;
        height: 26px;
    }
    100% {
        width: 100%;
    }
}

.plane {
    position: absolute;
    left: -195px;
    top: 0;
    -webkit-animation: plane 2.2s linear infinite;
    animation: plane 2.2s linear infinite;
}


@keyframes plane {
    0% {
        left: -80px;
    }
    100% {
        left: 400px;
    }
}






/* Hero Section */

.heroSection {
    height: 100vh;
    background-image: url(./img/Hero\ Section.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    width: 14.6rem;
}

.linknav {
    font-family: Rubik;
    color: white;
    font-size: 20px;
    font-weight: medium;
    position: relative;
}

.linknav::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 1px;
    width: 0;
    height: 3px;
    background-color: #FF7757;
    transition: 0.7s;
}

.linknav:hover::after {
    width: 98%;
}

.linknav:hover {
    color: rgba(255, 255, 255, 0.89);
}

.logInBtn {
    text-decoration: none;
    font-family: rubik;
    font-size: 20px;
    font-weight: 500;
    color: white;
    transition: 0.7s linear;
}

.logInBtn:hover {
    color: #FF7757;
}

.signUpBtn {
    border: none;
    width: 135px;
    height: 64px;
    background-color: #FF7757;
    border-radius: 12px;
    color: white;
    font-family: rubik;
    font-weight: 500;
    font-size: 20px;
    margin-left: 36px;
    transition: 0.7s linear;
}

.signUpBtn2 {
    border: none;
    width: 105px;
    height: 44px;
    background-color: #FF7757;
    border-radius: 12px;
    color: white;
    font-family: rubik;
    font-weight: 500;
    font-size: 20px;
    margin-left: 36px;
}

.signUpBtn:hover {
    background-color: white;
    color: #FF7757;
}

.head-title {
    font-family: playfair;
    font-size: 5.25rem;
    font-weight: 500;
    color: #fff;
    margin: 0;
    margin-top: 58px;
}

.head-paragraph {
    font-family: rubik;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    margin: 0;
    margin-top: 16px;
}

.fadebox {
    width: 97rem;
    height: 13.5rem;
    background-color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.leftbox {
    display: flex;
    justify-content: center;
    height: 4rem;
    margin-right: 100px;
}

.leftbtn {
    width: 10.26rem;
    height: 13.5rem;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #FF7757;
    color: #fff;
    font-size: 36px;
    font-weight: 500;
    font-family: playfair;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 20px;
}

.arrow {
    position: absolute;
    right: 20px;
    top: 45%;
}

.label {
    color: #767E86;
    font-family: rubik;
    font-size: 16px;
    font-weight: 500;
}

.cities {
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
    width: 14rem;
    height: 2.1rem;
    font-size: 20px;
    font-family: playfair;
    font-weight: 500;
    color: #172432;
}

.inputDate {
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
    width: 14rem;
    height: 2.1rem;
    font-size: 20px;
    font-family: playfair;
    font-weight: 500;
    color: #172432;
}


/* Popular Destinations */


.title-popular {
    font-family: playfair;
    font-size: 64px;
    font-weight: 500;
    color: #172432;
}

.hr-line {
    height: 3px;
    width: 22.8rem;
    background-color: #FF7757;
    color: #FF7757;
    opacity: 1;
}

.paragraph-popular {
    font-family: rubik;
    font-size: 24px;
    font-weight: 500;
    color: #767E86;
}

.switchBtns {
    position: absolute;
    bottom: -127px;
    left: 0;
    width: 172px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nextbtn {
    transform: rotate(180deg) !important;
}

.trans2 {
    transform: rotate(360deg) !important;
}

.btnhover {
    opacity: 1;
    transition: 0.7s linear
}

.btnssvg rect {
    transition: 0.7s linear
}

.btnhover:hover .btnssvg > rect{
    fill: #FF7757;
}




/* Special Offer */


.contentBox {
    width: 100%;
    background-color: #FEF8F2;
    padding: 40px 24px 40px 24px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.titleLisbon {
    font-family: rubik;
    font-size: 1.75rem;
    font-weight: 500;
    color: #767E86;
    margin: 0;
}

.paragraph-description {
    margin: 0;
    font-family: rubik;
    font-size: 1.125rem;
    font-weight: 500;
    color: #172432;
    margin-top: 24px;
    line-height: 21px;
}

.p-from {
    margin: 0;
    font-family: rubik;
    font-weight: 500;
    font-size: 1.25rem;
    color: #767E86;
}

.price {
    font-size: 2.5rem;
    color: #FF7757;
    margin-left: 8px;
}

.detailsBtn {
    width: 9.938rem;
    height: 3.75rem;
    background-color: #FF7757;
    border-radius: 12px;
    border: none;
    color: #fff;
    font-family: rubik;
    font-weight: 500;
    font-size: 1.25rem;
}



/* Our Blog */


.hr-line2 {
    height: 3px;
    width: 9.375rem;
    background-color: #FF7757;
    color: #FF7757;
    opacity: 1;
}

.titleBlog {
    margin: 0;
    font-family: playfair;
    font-size: 3.375rem;
    font-weight: 500;
    color: #172432;
    margin-top: 76px;
}

.blogDescription {
    margin: 0;
    font-family: rubik;
    font-weight: 500;
    font-size: 1.5rem;
    color: #172432;
    margin-top: 24px;
}

.blogBtn {
    background-color: transparent;
    border: none;
    height: 3.25rem;
    color: #FF7757;
    font-family: rubik;
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    transition: 0.7s linear;
}

.blogBtn:hover {
    color: #172432;
    background-color: #FF7757;
    border-radius: 12px;
}

.arrow2 path {
    transition: 0.7s linear;
}

.blogBtn:hover .arrow2 path {
    fill: #172432;
}




/* Trip Planner */

.hr-line3 {
    height: 3px;
    width: 14.438rem;
    background-color: #FF7757;
    color: #FF7757;
    opacity: 1;
}

.plannerEffect1 {
    font-family: rubik;
    font-size: 1rem;
    font-weight: 500;
    color: #172432;
    margin: 0;
}

.plannerEffect2 {
    font-family: playfair;
    font-weight: 800;
    font-size: 1.45rem;
    color: #172432;
    margin: 0;
    margin-top: 12px;
}

.ratingStar {
    width: 100px;
    height: 1.2rem;
}

.plannerImg {
    cursor: pointer;
    transition: 0.4s linear;
}

.plannerImg:hover {
    transform: translateY(-100px);
}

.hoverBox {
    position: absolute;
    left: 0;
    bottom: 0;
    visibility: hidden;
    z-index: -1;
    transition: 0.4s linear;
    
}

.plannerImg:hover .hoverBox {
    visibility: visible !important;
    position: absolute;
    bottom: -100px;
    transition: 0.4s;
    transition-timing-function: cubic-bezier(1.680, -0.850, 0.165, 2.950);
}

.plannerBtnBox {
    width: 13.625rem;
    height: 5.719rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plannerBtn{
    width: 11.625rem;
    height: 3.813rem;
    background-color: #FF7757;
    color: #fff;
    border: none;
    border-radius: 12px;
    font-family: rubik;
    font-size: 1.125rem;
    font-weight: 500;
    transition: 0.4s linear;
}

.plannerRect {
    position: absolute;
    top: -15px;
    left: -15px;
    z-index: -1;
    transition: 0.4s;
}

.plannerRect2 {
    position: absolute;
    bottom: -15px;
    right: -15px;
    z-index: -1;
    transition: 0.4s;
}

.plannerBtn:hover {
    background-color: #172432;
    color: #FF7757;
}

.plannerBtn:hover .plannerRect {
    left: -65px;
    transform: rotate(-360deg);
}

.plannerBtn:hover .plannerRect2 {
    right: -65px;
    transform: rotate(360deg);
}

.plannerRect rect {
    transition: 0.4s;
}

.plannerBtn:hover .plannerRect rect {
    fill: #FF7757;
}

.plannerRect2 rect {
    transition: 0.4s;
}

.plannerBtn:hover .plannerRect2 rect {
    fill: #FF7757;
}


/* Destination Gallery */


.hr-line4 {
    width: 17.688rem;
    height: 3px;
    background-color: #FF7757;
    color: #FF7757;
    opacity: 1;
}

.avatarbox {
    background-color: #F5F6F7;
    padding: 40px 60px 40px 40px;
    border-radius: 12px;
}

.avatarExpe {
    position: absolute;
    top: -4.5rem;
    left: 2.5rem;
    border-radius: 50%;
}

.paragraph-experience {
    font-family: rubik;
    font-size: 1.125rem;
    font-weight: 500;
    color: #767E86;
    margin: 0;
}

.jhonDoe {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: playfair;
    color: #767E86;
    margin: 0;
    margin-top: 20px;
}

.paragraph-acc {
    font-family: rubik;
    font-size: 1.125rem;
    font-weight: 500;
    color: #767E86;
    margin: 0;
    margin-top: 4px;
}



/* Traveler`s Experiences */


.hr-line5 {
    width: 21.688rem;
    height: 3px;
    background-color: #FF7757;
    color: #FF7757;
    opacity: 1;
}



/* Footer */


.footer-Menu {
    font-family: rubik;
    font-weight: 800;
    font-size: 1.5rem;
    color: #fff;
}

.footerlinks {
    font-family: rubik;
    font-weight: 500;
    font-size: 1.125rem;
    color: #fff;
    text-decoration: none;
    line-height: 35px;
}

.copyright {
    font-family: rubik;
    font-weight: 500;
    font-size: 0.875rem;
    color: #fff;
    margin: 0;
    margin-top: 16px;
}

.subscribeBox {
    position: absolute;
    top: -350px;
    width: 78.875rem;
    height: 14.5rem;
    background-color: #fff;
    border: 1px solid #767E86;
    border-radius: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribeTitle {
    font-family: playfair;
    font-weight: 500;
    font-size: 4rem;
    color: #767E86;
    margin: 0;
}

label {
    font-family: rubik;
    font-weight: 500;
    font-size: 1.25rem;
    color: #767E86;
}

#email {
    width: 23.25rem;
    height: 4.5rem;
    background-color: #FBE9D6;
    outline: none;
    border: none;
    border-radius: 12px;
    padding-left: 2.5rem;
}

#email::placeholder {
    font-family: rubik;
    font-size: 1.25rem;
    font-weight: 500;
    color: #FF7757;
}

.subscribeBtn {
    background-color: #FF7757;
    color: #fff;
    border: none;
    border-radius: 12px;
    width: 10.188rem;
    height: 4.563rem;
    margin-left: 32px;
    font-family: rubik;
    font-weight: 500;
    font-size: 1.25rem;
    transition: 0.4s linear;
}

.subscribeBtn:hover {
    background-color: #172432;
    color: #FF7757;
}



/* media queries */


@media screen and (max-width:1600px) {
    .fadebox {
        width: 84rem;
    }

    .head-title {
        margin-top: 41px;
    }
}